.row {
  width: 99%;
  margin: 0 auto;
  overflow: visible; }

.grid_1, .g1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 4.125%; }

.grid_2, .g2 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 8.25%; }

.grid_3, .g3 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 12.375%; }

.grid_4, .g4 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 16.5%; }

.grid_5, .g5 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 20.625%; }

.grid_6, .g6 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 24.75%; }

.grid_7, .g7 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 28.875%; }

.grid_8, .g8 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 33%; }

.grid_9, .g9 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 37.125%; }

.grid_10, .g10 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 41.25%; }

.grid_11, .g11 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 45.375%; }

.grid_12, .g12 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 49.5%; }

.grid_13, .g13 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 53.625%; }

.grid_14, .g14 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 57.75%; }

.grid_15, .g15 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 61.875%; }

.grid_16, .g16 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 66%; }

.grid_17, .g17 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 70.125%; }

.grid_18, .g18 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 74.25%; }

.grid_19, .g19 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 78.375%; }

.grid_20, .g20 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 82.5%; }

.grid_21, .g21 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 86.625%; }

.grid_22, .g22 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 90.75%; }

.grid_23, .g23 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 94.875%; }

.grid_24, .g24 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 99%; }
