body
  font-family: Verdana, Arial, Helvetica, sans-serif
  font-size = 13px
  line-height = !line

h1, h2, h3, h4, h5
  line-height = !line

h1
  font-size: 20px
  line-height = !line
h2, article h1
  font-size: 16px
  line-height = !line
h3, article h2, article section h1, article article h1
  font-size: 14px
  line-height = !line
h4, article h3, article section h2, article article h2
  font-size: 13px
  line-height = !line
h5, article h4, article section h3, article article h2
  font-size: 12px
  line-height = !line

//pre
//  padding = !line
//  font-size: 11px
//
//div.field, div.actions
//  margin-bottom = !line
//
//small
//  font-size: 85
//  line-height = !line
//
//section, article, p
//  margin-bottom = !line
