html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
dialog, figure, footer, header, hgroup, menu, nav, section, time, mark,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

#page {
  width: 95%;
  margin: 0 auto;
  min-width: 770px; }

.row {
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  text-align: center; }

.grid_1, .g1 {
  width: 3.167%; }

.grid_2, .g2 {
  width: 7.333%; }

.grid_3, .g3 {
  width: 11.5%; }

.grid_4, .g4 {
  width: 15.667%; }

.grid_5, .g5 {
  width: 19.833%; }

.grid_6, .g6 {
  width: 24%; }

.grid_7, .g7 {
  width: 28.167%; }

.grid_8, .g8 {
  width: 32.333%; }

.grid_9, .g9 {
  width: 36.5%; }

.grid_10, .g10 {
  width: 40.667%; }

.grid_11, .g11 {
  width: 44.833%; }

.grid_12, .g12 {
  width: 49%; }

.grid_13, .g13 {
  width: 53.167%; }

.grid_14, .g14 {
  width: 57.333%; }

.grid_15, .g15 {
  width: 61.5%; }

.grid_16, .g16 {
  width: 65.667%; }

.grid_17, .g17 {
  width: 69.833%; }

.grid_18, .g18 {
  width: 74%; }

.grid_19, .g19 {
  width: 78.167%; }

.grid_20, .g20 {
  width: 82.333%; }

.grid_21, .g21 {
  width: 86.5%; }

.grid_22, .g22 {
  width: 90.667%; }

.grid_23, .g23 {
  width: 94.833%; }

.grid_24, .g24 {
  width: 99%; }

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_5, .grid_6, .grid_7,
.grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14,
.grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21,
.grid_22, .grid_23, .grid_24, .g1, .g2, .g3, .g4, .g5, .g5, .g6, .g7, .g8,
.g9, .g10, .g11, .g12, .g13, .g14, .g15, .g16, .g17, .g18, .g19, .g20, .g21,
.g22, .g23, .g24 {
  display: inline;
  float: left;
  overflow: hidden;
  margin-right: 1%; }

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px; }

pre {
  padding: 20px;
  font-size: 11px; }

div.field, div.actions {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5 {
  line-height: 20px;
  margin-bottom: 20px; }

h1 {
  font-size: 20px;
  margin-top: 20px; }

h2, article h1 {
  font-size: 18px;
  margin-top: 0; }

h3, article h2, article section h1, article article h1 {
  font-size: 16px;
  margin-top: 0; }

h4, article h3, article section h2, article article h2 {
  font-size: 14px;
  margin-top: 0; }

h5, article h4, article section h3, article article h2 {
  font-size: 13px;
  margin-top: 0; }

small {
  font-size: 85;
  line-height: 20px; }

section, article, p {
  margin-bottom: 20px; }
