#page {
  width: 95%;
  margin: 0 auto;
  min-width: 770px; }

.row {
  width: 100%;
  margin: 0 auto;
  overflow: visible; }

.grid_1, .g1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 4.167%; }

.grid_2, .g2 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 8.333%; }

.grid_3, .g3 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 12.5%; }

.grid_4, .g4 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 16.667%; }

.grid_5, .g5 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 20.833%; }

.grid_6, .g6 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 25%; }

.grid_7, .g7 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 29.167%; }

.grid_8, .g8 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 33.333%; }

.grid_9, .g9 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 37.5%; }

.grid_10, .g10 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 41.667%; }

.grid_11, .g11 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 45.833%; }

.grid_12, .g12 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 50%; }

.grid_13, .g13 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 54.167%; }

.grid_14, .g14 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 58.333%; }

.grid_15, .g15 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 62.5%; }

.grid_16, .g16 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 66.667%; }

.grid_17, .g17 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 70.833%; }

.grid_18, .g18 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 75%; }

.grid_19, .g19 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 79.167%; }

.grid_20, .g20 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 83.333%; }

.grid_21, .g21 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 87.5%; }

.grid_22, .g22 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 91.667%; }

.grid_23, .g23 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 95.833%; }

.grid_24, .g24 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 100%; }
