<tr>
  <td>
    <%= stage.name %>
  </td>
  <td>
    <%= stage.limit.present? ? stage.limit : raw('&mdash;') %>
  </td>
  <td><%= link_to 'Edit', edit_project_stage_path(@project, stage) %></td>
  <td><%= link_to 'Delete', [@project, stage], :method => :delete, :confirm => "Are you sure?" %></td>
</tr>
