.row
  - 24.times do
    .g1{:style => cycle('background:#fff', 'background:#ddd')}
      Grid 1

.row
  - 12.times do
    .g2{:style => cycle('background:#eee', 'background:#ccc')}
      Grid 2

.row
  - 8.times do
    .g3{:style => cycle('background:#ddd', 'background:#bbb')}
      Grid 3

.row
  - 6.times do
    .g4{:style => cycle('background:#ccc', 'background:#aaa')}
      Grid 4

.row
  - 4.times do
    .g6{:style => cycle('background:#bbb', 'background:#999')}
      Grid 6

.row
  - 3.times do
    .g8{:style => cycle('background:#aaa', 'background:#888')}
      Grid 8

.row
  .g24{:style => cycle('background:#999', 'background:#777')}
    Grid 24
